.wy-nav-content {
    max-width: None;
}

@media screen and (max-width: 800px) {
    .wy-nav-content {
        max-width: 800px !important;
    }
}

.wy-side-nav-search, .wy-nav-side  {
    background: WHITE;
}

a:not(:visited) {
    color: #D8B600; /* MEDIUM */
}

a:visited {
    color: #99841F; /* PRIMARY_DARK */
}

.wy-menu p.caption {
    color: #5D5013; /* DARK */
}

/* Success Colors */
/* You can apply these to specific elements as needed */

/* Info Colors */
.rst-content .highlighted {
    background: #FFDD33; /* PRIMARY */
}

/* Code Block Background */
.rst-content pre {
    background: #FFED8C; /* SECONDAY_LIGHT */
}
/* Project Version Color */
.wy-side-nav-search > div.version {
    color: #5D5013; /* DARK */
}

